
.sign-wrapper {
    @extend %wrapper
}

.sign-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

%sign {
    padding: 26px 35px 34px 31px;
    min-height: 482px;
    width: 407px;
    left: 0px;
    top: 0px;
    border-radius: 6px;
    background-color: #FFFFFF;
}

.sign-in {
    @extend %sign
}

.sign-in{    
    &__logo {
        padding: 0 111px;
    }

    &__title {
        margin-top: 33px;
    }

    &__subtitle {
        margin-top: 8px;
    }
    &__form {
        margin-top: 20px;
        &_pswd {
            margin-top: 16px;
        }
    }
    &__button {
        margin-top: 39px;
    }
    &__footer {
        margin-top: 20px;
    }

}

.sign-up {
    @extend %sign
}

.sign-up {
    &__title {
        margin-top: 30px;
    }
    &__form {
        margin-top: 17px;
        &_user {
            margin-top: 24px;
        }
        &_hidden-link {
            a {
                display: none;
            }
        }
    }
    &__checkbox {
        margin-top: 16px;
        
        input {
            margin: 0;
            border-color: #FFFFFF;
            box-sizing: border-box;
            border-radius: 3px;
            
        }
        span {
            color: $main-color;
            font-weight: 400;
            padding-left: 16px;
        }
    }
    &__button {
        margin-top: 14px;
    }
    &__footer {
        margin-top: 14px;
    }
}

.sign-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #5E5873;
}

.sign-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #6E6B7B;
}

.sign-form {
    &__title {
        display: flex;
        font-weight: 400;
        font-size: 12px;
        line-height: 18px;
        color: #6E6B7B;
    }
    &__fogot {
        width: 100%;
        text-align: right;
        color: $main-color;
    }
    input {
        border-radius: 5px;
        border: 1px solid #B9B9C3;
        margin-top: 2px;
        width: 100%;
        padding: 8px 53px 8px 15px;
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
        color: #B9B9C3;  
    }
}

.sign-button {
    width: 100%;
    min-height: 38px;
    background-color: $main-color;
    border-radius: 5px;
    border: none;
    padding: 10px 0 11px 0;
    cursor: pointer;

    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
}

.sign-footer {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #6E6B7B;
    text-align: center;
    a {
        padding-left: 6px;
        color: $main-color;
    }
}



