@import "@/styles/fonts";
@import "@/styles/variables";
@import "@/styles/blocks/sign";
@import "@/styles/blocks/dashboard";

*{
    font-family: 'Montserrat';
    font-weight: 400;
    box-sizing: border-box;
};

::-webkit-scrollbar {
  width: 5px; /* ширина нового скроллбара */
} 

::-webkit-scrollbar-track {
  background: lightgrey; /* цвет фона у дорожки */
}

::-webkit-scrollbar-thumb {
  background: black; /* цвет фона у дорожки */
  border-radius: 8px; /* скругление углов */
  border: 1px solid #ffffff; /* толщина, стиль и цвет рамки */
}

body {
    margin: 0;
    width: 1440px;
}

a {
    text-decoration: none;
}

.ovh {
  overflow: hidden;
}

%wrapper {
    background-color: #E5E5E5;
    width: 100vw;
    height: 100vh;
}

.logo {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.428571px;
    &_main-color {
        color: $main-color;
    }
    &_second-color{
        color: $second-color;
    }
    &_font-size_34px {
        font-size: 34px;
    }
}

.eccomerce-table {
  width: 580px;
  max-height: 453px;
}

.summary-table {
  width: 303px;
  max-height: 453px;
  td{
    cursor: pointer;
  }
  
}

.green-text {
  color: rgb(9, 150, 9);
}

.add-transaction-button {
  span {
    padding-left: 0px;
    flex-wrap: nowrap;
  }
}

.widget-card {
  width: 250px;
  height: 153px;
}

.widgets-wrapper {
  height: 350px;
  // width: 100%;
  overflow: hidden;
}

.add-widget-buttons {
  width: 222px;
}

.color-picker {
  width: 200px;
}

.global {
  width: 290px;
  border-radius: 5px;
  box-shadow: 1px 1px 1px 1px lightgrey;
  .date {
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px lightgrey;
  }
}

.my-sticky-header-table {

  
  .q-table__middle {
    thead tr:first-child th {
      /* bg color is important for th; just specify one */
    background-color: #F3F2F7;
    }
    

    thead tr th {
      position: sticky;
      z-index: 1;
    }

    thead tr:first-child th {
      
      top: 0
    }
  }   
}